[core]
  editor = nvim
  pager = delta
  excludesfile = ~/.gitignore_global

[interactive]
  diffFilter = delta --color-only

[rerere]
	enabled = true
  autoupdate = true

[pull]
  rebase = true

[delta]
  navigate = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[alias]
  amend = commit --amend --no-edit
  aamend = commit -a --amend --no-edit
  c = commit
  fixup = commit --fixup HEAD~1
  autobase = "!f() { git rebase --autosquash -i \"$(git merge-base HEAD ${1:-origin/master})\"; }; f" 
  p = push
  pf = push --force-with-lease
  pu = push -u origin HEAD
  pfu = push -u --force-with-lease origin HEAD
  ls = ls-files
  unstage = restore --staged

[include]
  path = .gitconfig.local

[rebase]
	autoStash = true
[push]
	autoSetupRemote = true
[http]
	postBuffer = 2097152000
[https]
	postBuffer = 2097152000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[remote "origin"]
	fetch = +refs/notes/*:refs/notes/*
